In [376]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [377]:
X_train = pd.read_csv('train_X.csv')
X_test = pd.read_csv('test_X.csv')
y_train = pd.read_csv('train_Y.csv')
y_test = pd.read_csv('test_Y.csv')

In [378]:
X_train.head()

   Id  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0   0       3    0  22.0      1      0   7.2500         1
1   1       1    1  38.0      1      0  71.2833         0
2   2       3    1  26.0      0      0   7.9250         1
3   3       1    1  35.0      1      0  53.1000         1
4   4       3    0  35.0      0      0   8.0500         1

In [379]:
y_train.head()

   Id  Survived
0   0         0
1   1         1
2   2         1
3   3         1
4   4         0

In [380]:
X_train = X_train.iloc[:,1:].values
y_train = y_train.iloc[:,1:].values
X_test = X_test.iloc[:,1:].values
y_test = y_test.iloc[:,1:].values

In [381]:
print(X_train.shape,y_train.shape)

(891, 7) (891, 1)

In [382]:
class LogisticRegression:
    def __init__(self, lr = 0.0015, epochs = 10000):
        self.lr = lr
        self.epochs = epochs
        self.W = None
        self.B = None
    def fit(self,X_train,y_train,verbose=False):
        X_train = X_train.T
        y_train = y_train.reshape(1, X_train.shape[1])
        n_features = X_train.shape[0]
        n_samples = X_train.shape[1]
        
        self.W = np.zeros((n_features,1)) + 0.001
        self.B = 0
        
        for i in range(self.epochs):
            Z = np.dot(self.W.T,X_train) + self.B
            y_pred = self._sigmoid(Z)
            cost  = -(1/n_samples)*np.sum(y_train*np.log(y_pred) + (1-y_train)*np.log(1-y_pred))
            dw = (1/n_samples)*np.dot((y_pred-y_train),X_train.T)
            db = (1/n_samples)*np.sum(y_pred-y_train)

            self.W = self.W - self.lr*dw.T
            self.B = self.B - self.lr*db
            if(i%2000==0 and verbose==True):
                print(f"error in epoch {i} :",cost)

    def predict(self,X_test):
        X_test = X_test.T
        Z = np.dot(self.W.T,X_test) + self.B      
        y_pred = self._sigmoid(Z)   
        pred = [1 if y_pred[0][i] >=0.5 else 0 for i in range(y_pred.shape[1])]
        return pred 

    def accuracy(self,predictions,y_test):
        y_test = y_test.T
        return((np.sum(predictions==y_test)/len(predictions))*100)
    def _sigmoid(self,x):
        return 1.0/(1+np.exp(-x))

In [383]:
learning_rate = 0.0015
epochs = 100000
regressor = LogisticRegression(lr = learning_rate, epochs = epochs)

In [384]:
regressor.fit(X_train,y_train)

In [385]:
predictions = regressor.predict(X_test)

In [386]:
acc = regressor.accuracy(predictions,y_test)

In [387]:
print(f'Accuracy of the model is :{acc} %')

Accuracy of the model is :91.38755980861244 %