In [58]:
import pandas as pd
import numpy as np

In [59]:
df = pd.read_csv('breast_cancer.csv')
df.head()

,Sample code number,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

In [60]:
# no missing values
print(df.isnull().sum())
df.shape

Sample code number             0
Clump Thickness                0
Uniformity of Cell Size        0
Uniformity of Cell Shape       0
Marginal Adhesion              0
Single Epithelial Cell Size    0
Bare Nuclei                    0
Bland Chromatin                0
Normal Nucleoli                0
Mitoses                        0
Class                          0
dtype: int64

(683, 11)

In [61]:
# matrix of features
X = df.iloc[:,1:-1].values
# vector of dependent variables
y = df.iloc[:,-1].values

In [62]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0)

In [63]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(random_state=0)
classifier.fit(X_train,y_train)

LogisticRegression(random_state=0)

In [64]:
predictions = classifier.predict(X_test)

In [65]:
acc = np.sum(predictions==y_test)*100/len(predictions)
print(f'accuracy of the logistic regression :{acc:.2f} %')

accuracy of the logistic regression :95.62 %

In [66]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test,predictions)

In [67]:
print(cm)

[[84  3]
 [ 3 47]]

#### Computing accuracy with k-fold Cross Validation

In [68]:
from sklearn.model_selection import cross_val_score
accuracies = cross_val_score(estimator=classifier,X=X_train,y = y_train,cv =10)

In [69]:
print("Accuracy {:.2f} %".format(accuracies.mean()*100))
print("Standard Deviation {:.2f} %".format(accuracies.std()*100))

Accuracy 96.70 %
Standard Deviation 1.97 %