
# Importing CSV,JSON,XLS Files in python

### CSV

In [1]:
import pandas as pd
df = pd.read_csv('names.csv')
print(df)

   first_name       last_name                           email
0        John             Doe         john-doe@bogusemail.com
1        Mary  Smith-Robinson       maryjacobs@bogusemail.com
2        Dave           Smith        davesmith@bogusemail.com
3        Jane          Stuart       janestuart@bogusemail.com
4         Tom          Wright        tomwright@bogusemail.com
5       Steve        Robinson    steverobinson@bogusemail.com
6      Nicole          Jacobs     nicolejacobs@bogusemail.com
7        Jane          Wright       janewright@bogusemail.com
8        Jane             Doe          janedoe@bogusemail.com
9        Kurt          Wright       kurtwright@bogusemail.com
10       Kurt        Robinson     kurtrobinson@bogusemail.com
11       Jane         Jenkins      janejenkins@bogusemail.com
12       Neil        Robinson     neilrobinson@bogusemail.com
13        Tom       Patterson     tompatterson@bogusemail.com
14        Sam         Jenkins       samjenkins@bogusemail.com
15      Steve          Stuart      stevestuart@bogusemail.com
16     Maggie       Patterson  maggiepatterson@bogusemail.com
17     Maggie          Stuart     maggiestuart@bogusemail.com
18       Jane             Doe          janedoe@bogusemail.com
19      Steve       Patterson   stevepatterson@bogusemail.com
20       Dave           Smith        davesmith@bogusemail.com
21        Sam           Wilks         samwilks@bogusemail.com
22       Kurt       Jefferson    kurtjefferson@bogusemail.com
23        Sam          Stuart        samstuart@bogusemail.com
24       Jane          Stuart       janestuart@bogusemail.com
25       Dave           Davis        davedavis@bogusemail.com
26        Sam       Patterson     sampatterson@bogusemail.com
27        Tom       Jefferson     tomjefferson@bogusemail.com
28       Jane          Stuart       janestuart@bogusemail.com
29     Maggie       Jefferson  maggiejefferson@bogusemail.com
30       Mary           Wilks        marywilks@bogusemail.com
31       Neil       Patterson    neilpatterson@bogusemail.com
32      Corey           Davis       coreydavis@bogusemail.com
33      Steve          Jacobs      stevejacobs@bogusemail.com
34       Jane         Jenkins      janejenkins@bogusemail.com
35       John          Jacobs       johnjacobs@bogusemail.com
36       Neil           Smith        neilsmith@bogusemail.com
37      Corey           Wilks       coreywilks@bogusemail.com
38      Corey           Smith       coreysmith@bogusemail.com
39       Mary       Patterson    marypatterson@bogusemail.com
40       Jane          Stuart       janestuart@bogusemail.com
41     Travis          Arnold     travisarnold@bogusemail.com
42       John        Robinson     johnrobinson@bogusemail.com
43     Travis          Arnold     travisarnold@bogusemail.com

In [2]:
print(df[0:5])

  first_name       last_name                      email
0       John             Doe    john-doe@bogusemail.com
1       Mary  Smith-Robinson  maryjacobs@bogusemail.com
2       Dave           Smith   davesmith@bogusemail.com
3       Jane          Stuart  janestuart@bogusemail.com
4        Tom          Wright   tomwright@bogusemail.com

In [3]:
print(df.loc[[2,6,8],['first_name','last_name']])

  first_name last_name
2       Dave     Smith
6     Nicole    Jacobs
8       Jane       Doe

#### JSON

In [4]:
df2 = pd.read_json('sample2.json')
print(df2)

   ID             Title       Timing   Genre  Rating
0   1   Dog with a Blog  17:30-18:00  Comedy     4.7
1   2    Liv and Maddie  18:00-18:30  Comedy     6.3
2   3  Girl Meets World  18:30-19:00  Comedy     7.2
3   4     KC Undercover  19:00-19:30  Comedy     6.1
4   5   Austin and Ally  19:30-20:00  Comedy     6.0

#### XLS

In [5]:
df3 = pd.read_excel('sample_excel.xls')
print(df3)

              Segment                   Country    Product Discount Band  \
0          Government                    Canada  Carretera          None
1          Government                   Germany  Carretera          None
2           Midmarket                    France  Carretera          None
3           Midmarket                   Germany  Carretera          None
4           Midmarket                    Mexico  Carretera          None
..                ...                       ...        ...           ...
695    Small Business                    France   Amarilla          High
696    Small Business                    Mexico   Amarilla          High
697        Government                    Mexico    Montana          High
698        Government                    Canada      Paseo          High
699  Channel Partners  United States of America        VTT          High

     Units Sold  Manufacturing Price  Sale Price  Gross Sales  Discounts  \
0        1618.5                    3          20      32370.0       0.00
1        1321.0                    3          20      26420.0       0.00
2        2178.0                    3          15      32670.0       0.00
3         888.0                    3          15      13320.0       0.00
4        2470.0                    3          15      37050.0       0.00
..          ...                  ...         ...          ...        ...
695      2475.0                  260         300     742500.0  111375.00
696       546.0                  260         300     163800.0   24570.00
697      1368.0                    5           7       9576.0    1436.40
698       723.0                   10           7       5061.0     759.15
699      1806.0                  250          12      21672.0    3250.80

         Sales      COGS    Profit       Date  Month Number Month Name  Year
0     32370.00   16185.0  16185.00 2014-01-01             1    January  2014
1     26420.00   13210.0  13210.00 2014-01-01             1    January  2014
2     32670.00   21780.0  10890.00 2014-06-01             6       June  2014
3     13320.00    8880.0   4440.00 2014-06-01             6       June  2014
4     37050.00   24700.0  12350.00 2014-06-01             6       June  2014
..         ...       ...       ...        ...           ...        ...   ...
695  631125.00  618750.0  12375.00 2014-03-01             3      March  2014
696  139230.00  136500.0   2730.00 2014-10-01            10    October  2014
697    8139.60    6840.0   1299.60 2014-02-01             2   February  2014
698    4301.85    3615.0    686.85 2014-04-01             4      April  2014
699   18421.20    5418.0  13003.20 2014-05-01             5        May  2014

[700 rows x 16 columns]

In [6]:
print(df3.loc[:,'Product'])

0      Carretera
1      Carretera
2      Carretera
3      Carretera
4      Carretera
         ...
695     Amarilla
696     Amarilla
697      Montana
698        Paseo
699          VTT
Name: Product, Length: 700, dtype: object